* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --blue-dark-blue: #24334b;
  --blue-blue-light-2: #687c9b;
  --green-main-color: #1baa75;
  --white-white: #f6f6f6;
}

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 86px;
  text-align: center;
}

.error__status {
  color: var(--blue-dark-blue);
  font-size: 84px;
  font-weight: 600;
}

.error__title {
  color: var(--blue-dark-blue);
  font-size: 36px;
  font-weight: 600;
  word-break: break-word;
}

.error__subtitle {
  color: var(--blue-blue-light-2);
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.error__return__button {
  padding: 14px 65px 14px 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green-main-color);
  color: var(--white-white);
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 768px) {
  .error__img {
    width: 320px;
    height: 206.999px;
  }
  .error__status {
    font-size: 64px;
  }
  .error__title {
    font-size: 24px;
  }
}
